  body {
    max-wdth: 800px]
    margin: 0 auto;
  } 
   
   
   
   
   header{
    backgrond-color:rgb(237, 24, 205)
    color: #fff 
    text-align: center;

   } 


    main{ 
    background-color:aquamarine;
    color: rgb(245, 203, 148);
    }